<h1>New Tutor</h1>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-auto-logout-link="true">
</fb:login-button>

<div id="status"></div>

<%= link_to "After loggging to FB, Use this link to fill form fields", new_tutor_path, id: 'foo' %><Br><br>

<%= render 'form' %>
