<div style="color:green;">
Debug Info:<br>
Controller:  Welcome#index<br>
Model: app/views/welcome/index.html.erb
<hr>
</div>



<h1>Welcome to our MVP</h1>

<%= form_tag("/welcome/results", method: "get") do %>
  <%= label_tag(:q, "Search for Tutors:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
