

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


     /*Search Button*/

     input[type="submit"] {
       display: block;
       font-size: 1.1em;
       font-weight: bold;
       text-transform: uppercase;
       padding: 10px 15px;
       margin: 20px auto;
       margin-right: 29em;
       color: #ccc;
       background-color: #555;
       background: -webkit-linear-gradient(#888, #555);
       background: linear-gradient(#888, #555);
       border: 0 none;
       border-radius: 3px;
       text-shadow: 0 -1px 0 #000;
       box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
       cursor: pointer;
      box-shadow: 0.5px 0.5px 0.5px white;
     }

     input[type="submit"]:hover {
       color: white;
     }

     /*Search Input Box*/
     input#q {
        width: 400px;
        height: 57px;
        border-radius: 2%;
        position: relative;
        top: 71px;
        left: 490px;
        font-size: 24px;
        text-align: center;
    }

    /*Line Under Subjects*/

    h3 {
        color: black;
        font-size: 30px;
        text-align: center;
    }

    .subjects {
        text-align: center;
    }

    a.popular {
        color: black;
        font-weight: bold;
    }
