// Place all the styles related to the tutors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reg {
    width: 50%;
    margin: auto;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px;
    // width: 290px;
    height: 850px;
    box-shadow: 10px 10px 5px #888888;
}

h1 {
  text-align: center;
}


.reviews {
    width: 50%;
    margin: auto;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px;
    width: 290px;
    height: 400px;
    box-shadow: 10px 10px 5px #888888;
}

.expertise {
    text-align: center;
}

select#tutor_subject_ids {
    width: 100%;
}

textarea#tutor_bio {
    width: 100%;
}

table.pure-table {
    margin: auto;
}

a {
    padding: 1%;
    text-decoration: none;
    color: black;
}

a:hover {
  color: gray;
}
