// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 // /* Search Background*/
// .search-background {
//    background-image: url("https://images.unsplash.com/photo-1447968954315-3f0c44f7313c?dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1450");
//    padding-bottom: 5%;
//    opacity: 0.8;
//   }


       /*Search Button*/

       input[type="submit"] {
         display: block;
         font-size: 1.1em;
         font-weight: bold;
         text-transform: uppercase;
         padding: 10px 15px;
         margin: auto;
         margin-right: 23em;
         color: #ccc;
         background-color: #555;
         background: -webkit-linear-gradient(#888, #555);
         background: linear-gradient(#888, #555);
         border: 0 none;
         border-radius: 3px;
         text-shadow: 0 -1px 0 #000;
         box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
         cursor: pointer;
         box-shadow: 0.5px 0.5px 0.5px white;
         font-family: 'Lato', sans-serif;
       }

       input[type="submit"] {
         margin: auto;
         font-family: 'Lato', sans-serif;
       }

       input[type="submit"] {
         margin-left: 64%;
         margin-top: 20px;
       }

       input[type="submit"]:hover {
         color: white;
       }

       /*Search Input Box*/
       input#q {
          width: 400px;
          height: 57px;
          border-radius: 2%;
          // position: relative;
          top: 71px;
          left: -20px;
          font-size: 24px;
          text-align: center;
          font-family: 'Lato', sans-serif;
          color: white;
      }

      /*Line Under Subjects*/

      h3 {
          color: white;
          font-size: 30px;
          text-align: center;
          font-family: 'Lato', sans-serif;
      }

      .subjects {
          text-align: center;
          font-family: 'Lato', sans-serif;
      }

      a.popular {
          color: white;
          font-weight: bold;
          font-family: 'Lato', sans-serif;
      }

      // Logo//
      .crest {
        text-align: center;
      }

      // About //
      .about {
        font-family: 'Lato', sans-serif;
        font-size: 3rem;
        text-align: center;
        background-color: zz;
        padding-bottom: 2px;
        padding-top: 1px;
      }

      .about p {
        font-size: 25px;
      }

      // Video //
      .video {
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
      }


      // Services//
      .services {
        background-color: #990012;
        font-family: 'Lato', sans-serif;
      }

      .flex-container{
          height: auto;
          display: flex;
          flex-flow: row nowrap;
          padding-bottom: 0%;
          justify-content: space-around;
          list-style: none;
          text-align: center;

        }


      .list-services{
        margin: 0;
        padding-top: 0;
      }

      img.payment, img.tutor-search {
        height: 11rem;
      }
