// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Search bar

/*Search Button*/

    input[type="submit"] {
      display: block;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 15px;
      margin: auto;
      margin-right: 23em;
      color: #ccc;
      background-color: #555;
      background: webkit-linear-gradient(#888, #555);
      background: linear-gradient(#888, #555);
      border: 0 none;
      border-radius: 3px;
      text-shadow: 0 -1px 0 #000;
      box-shadow: 0 1px #666, 0 5px 0 #444, 0 6px 6px rbga(0,0,0,0.6);
      cursor: pointer;
      box-shadow: 0.5px 0.5px 0.5px white;
    }



      input[type="submit"] {
        margin: auto;
        font-family: 'Lato', san-serif;
        margin-left: 64%;
        margin-top: 20px;
      }


            input[type="submit"]:hover {
              color: white;
            }


       input[type="submit"]:hover {
         color: white;
       }


      // Search Input Box //
        input#q {
          width: 400px;
          height: 57px;
          border-radius: 2%;
          position: relative;
          top: 71px;
          left: -20px;
          font-size: 24px;
          text-align: center;
          color: black
        }

        // Search Background //
        $parallax-window-height: 30em;
        $parallax-background-height: $parallax-window-height * 2;

        .parallax-window {
          max-height: $parallax-window-height;
          overflow: hidden;
          position: relative;
          text-align: center;
          width: 100%;
        }

        .parallax-static-content {
          color: #9A9A8A;
          padding: 8em 0;
          position: relative;
          z-index: 9;
        }

        .parallax-background {
          background: url("https://images.unsplash.com/photo-1447968954315-3f0c44f7313c?dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1450") repeat;
          background-position: top;
          background-size: cover;
          background-color: beige;
          height: $parallax-background-height;
          left: 0;
          position: absolute;
          top: - $parallax-window-height / 3;
          width: 100%;
        }






        // Line Under the Subject //
        h3{
          color: white;
          font-size: 30px;
          text-align: center;
        }

        .subject {
          text-align: center;
        }

        a.popular {
          color: white;
          font-weight: bold;
        }


        // Logo//

        .crest {
          text-align: center;
        }

        img#crest {
          margin-bottom: -3%;
        }

         // About //

       .about {
         font-size: 3rem;
         text-align: center;
         padding-bottom: 2px;
         padding-top: 1px
       }

       .about p {
         font-size: 25px;
       }

       // Video //
       .video {
         text-align: center;
         margin-top: 4%;
         margin-bottom: 4%;
       }


       .flex-container{
         height: auto;
         display: flex;
         flex-flow: column;
         padding-bottom: 0%;
         justify-content: space-between;
       }

       @media screen and (min-width: 486px) {

         img#crest{
           width: 95vh;
         }


       }
