<nav>
  <div class="menu" id="nav">
<%= link_to "Login", new_session_path, { id: "login-button" } %>
|
<%= link_to "Registration", new_tutor_path, { id: "registration-button"} %>
|
 <%= link_to "Logout", welcome_logout_path %>
  </div>
</nav>
